body {
    font-family: 'Quicksand', sans-serif;
    font-size: 40px;
    margin: 0;
    overflow: hidden;
}
.navbar {

    display: flex;
    justify-content: space-between;
    align-items: center;
    background:  #242124;
    height: 7vh;
}

a {
    margin: 1rem;
    text-decoration: none;
    color: white;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}


.welcome-text {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    font-size: 80px;
    font-weight: bold;
    text-shadow: 2px 2px 8px #242124;
    color: white;
}


 
.overlay {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    backdrop-filter: blur(8px);
    position: fixed;
    z-index: -1;
    
}

video {
    position: fixed;
    bottom: 0;
    z-index: -1;
}




