body {
    font-family: 'Quicksand', sans-serif;
    font-size: 40px;
    margin: 0;
    overflow: hidden;

}
.navbar {

    display: flex;
    justify-content: space-between;
    align-items: center;
    background:  #242124;
    height: 7vh;
    pointer-events: none 
    pos
}

a {
    margin: 1rem;
    text-decoration: none;
    color: white;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}


.welcome-text {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    font-size: 100px;
    text-shadow: 2px 2px 8px #242124;
    color: white;

    
}


.video-container {
    position: absolute;
    top: 0%;
    left: 0%;
    height: 100%;
    width: 100%;
  }
  
  video {
    position: absolute;
    z-index: -1;
    opacity: 0.78;
    widows: 100%;
    width: 100% !important;
    height: auto !important;
    margin: 0 auto;
    filter: blur(8px);
}
