body {
    font-family: 'Quicksand', sans-serif;
    font-size: 40px;
    margin: 0;
    overflow: hidden;

}
.navbar {

    display: flex;
    justify-content: space-between;
    align-items: center;
    background:  #242124;
    height: 7vh;
}

a {
    margin: 1rem;
    text-decoration: none;
    color: white;
}

.login {
    margin-left: 92rem;
}

.bg-image {
    z-index: 1;
    background-image: url("https://pixabay.com/get/g6ba5b0ca282de18933cbe77ab1580a743faa36dc1d7789e3b5c424ee2d42289c94b6da9e96d6a2114d2153376a647223.jpg");
    height: 60rem;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='a' x='0' y='0' width='1' height='1' color-interpolation-filters='sRGB'%3E%3CfeGaussianBlur stdDeviation='4' result='b'/%3E%3CfeMorphology operator='dilate' radius='4'/%3E %3CfeMerge%3E%3CfeMergeNode/%3E%3CfeMergeNode in='b'/%3E%3C/feMerge%3E%3C/filter%3E %3C/svg%3E#a")

}

.welcome-text {
    text-indent: -2rem;
    font-size: 100px;
    text-shadow: 2px 2px 8px #242124;
    top: 50%;
    left: 53%;
    color: white;
    z-index:2;
    position: absolute;
    transform: translate(-50%, -50%);
}
